body{
    background: rgb(128, 2, 255);
    color: aliceblue;
}
header{
    text-align: center;
}
section{
    background: rgb(255, 233, 233); 
    max-width: 500px;
    min-width: 320px;
    padding: 5px;
    margin: auto;
    color: black;
    border-radius: 5px;
}
.res{
    padding: 15px;
    font: normal 15pt arial;
}
footer{
    padding: 10px;
    text-align: center;
}